body { /*Basic settings for the fotter */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

::selection { /*When text is selected*/
  color: white;
  background: black;
  border-radius: 50%; /*I wish this worked.*/
}

/* The stuff in the header: */
header {
  background-color: rgb(214, 250, 255);
}
#navbar {
  background-color: dimgray;
  overflow: hidden;
}
.headerLink {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.headerLink:hover {
  background-color: rgb(223, 223, 223);
  color: black;
}
#first-title {
  font-size: 50px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  transition-duration: 150ms;
}
#first-title:hover {
  transform: scale(1.25);
  cursor: default;
}

/* The stuff in the footer: */
#footer {
  background-color: rgb(27, 27, 27);
  width: 100%;
  position: absolute;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 50vh 0 50vh rgb(27, 27, 27); /*Extends footer to the bottom of the page, even when it's not there*/
}

@media screen and (max-width: 560px){
  .headerLink {
    float: none !important;
    width: 100%;
    padding: 15px 0px;
  }
}

/*Changes text above the navbar based off of the size of the screen*/

@media screen and (max-width: 480px) and (min-width: 388px){
  #first-title:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 388px){ /*The smallest phone width is 320px (iphone 5); altho hover effects arent rly visible for this on phones.*/
  #first-title:hover {
    transform: scale(1.03);
  }
}